<p>Hi <%= @user.full_name %></p>

<p>You where invited to join to the <%=@course.name %> course!. You can log in with the following link:</p>

<%= link_to "Go to #{@course.name}", course_url(@course, user_email: @user.email, user_token: @user.authentication_token)  %>
<p>Hope you enjoy it!</p>

<p>Cheers,</p>
<p>EdUp Team :)</p>


