  <table style="width: 100%">
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>State</th>
    </tr>
<% @students.each do |student|%>
    <tr>
      <td><%= student.id%></td>
      <td><%= student.full_name %></td>
      <td><%= student.email%></td>
      <td><%= student.state(@course)%> on email link</td>
    </tr>
<% end %>
  </table>
